{% load static %}

<footer id="sticky-footer" class="flex-shrink-0 py-4  text-black-50" style="background-color: #88AB8E;">
    <div class="container text-center">
      <small>Copyright &copy; MTP: Tambo Entertainment</small>
        <br>
        <a href="https://www.facebook.com/profile.php?id=100010876350532"> <img src="{% static 'image/fb.png'%}" width="30" height="30"> </a>

        <a href="https://www.youtube.com/channel/UCd4UmIjORAK-6BSjA-fibqA"> <img src="{% static 'image/yt.png'%}" width="30" height="30"> </a>
    </div>
  </footer>
