{% extends 'pages/index.html' %}
<section class="about-us">
{% block content %}
{% load static %}
<br> <br>
    <div class="about">
      <img src="{% static 'image/VIRBUX.png'%}" class="pic1">
      <div class="text">

        <h5>VIRBUX DGC: </h5>
          <p>A website a made with my group mates for my course, it has a fully functioning database, it is a website that allows you to buy digital currency with ease for different games.</p>
      </div>
    </div>

<br> <br>
    <div class="about">
      <img src="{% static 'image/GUI.png'%}" class="pic1">
      <div class="text">

        <h5>Enrollment GUI: </h5>
          <p>A GUI system i made with my group mates for ITEC-70, it allows students to enroll and check their subjects and student list.</p>
      </div>
    </div>

    <br> <br>
    <div class="about">
      <img src="{% static 'image/ifi.png'%}" class="pic1">
      <div class="text">

        <h5>IFI Management System: </h5>
          <p>A web-system I have made for my subject DCIT-26, it allows users to schedule the services available, and then pass the required documents and finally pay virtually.</p>
      </div>
    </div>

     <br> <br>
    <div class="about">
      <img src="{% static 'image/cyber.png'%}" class="pic1">
      <div class="text">

        <h5>CISCO: Introduction to Cyber-Security: </h5>
          <p>A certificate I earned after the completion of the course in CISCO.</p>
      </div>
    </div>

    <br> <br>
    <div class="about">
      <img src="{% static 'image/network.png'%}" class="pic1">
      <div class="text">

        <h5>CISCO: Networking Basics: </h5>
          <p>A certificate I earned after the completion of the course in CISCO.</p>
      </div>
    </div>

    <br> <br>
    <div class="about">
      <img src="{% static 'image/end.png'%}" class="pic1">
      <div class="text">

        <h5>CISCO: End Point Security: </h5>
          <p>A certificate I earned after the completion of the course in CISCO.</p>
      </div>
    </div>



    </section>
<br> <br>
{% endblock %}